.footer{
    background: var(--white);
  }
 
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
  }
 
  .footer .box-container .box {
   padding: 1rem 2rem;
 }
 
  .footer .box-container .box h3 {
    color: var(--primary-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    color: var(--main-color);
    padding: 1rem 0;
    line-height: 2;
  }
  
  .footer .box-container .box a {
    display: block;
    color: var(--main-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--primary-color);
  }
  
  .footer .box-container .box a:hover {
    color: var(--primary-color);
  }
  
  .footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: 0.1rem solid #cecece;
    text-align: center;
    color: var(--main-color);
  }
  
  .footer .credit span {
    color: var(--primary-color);
  }